@tailwind preflight;
@tailwind components;
@tailwind utilities;

.transition {
  transition: all .4s cubic-bezier(0.83, -2.18, 0.52, 0.96);
}

.pagination {
  margin-bottom: 20px;
  padding-left: 0;
  @apply inline-block;
  @apply shadow-lg;
}
.pagination > li {
  list-style: none;
  margin-left: -1px;
  padding: 6px 12px;
  @apply border;
  @apply bg-white;
  @apply float-left;
  @apply font-semibold;
  @apply cursor-pointer;
  @apply border-grey-light;
}
.pagination > li > a {
  @apply no-underline;
  @apply leading-normal;
  @apply text-blue;
}
.pagination li:first-child {
  @apply rounded-l;
}
.pagination li:last-child {
  @apply rounded-r;
}
.pagination > li.active {
  @apply bg-blue;
  @apply border-blue;
}
.pagination > li.active > a {
  @apply text-white;
}

.bg-smoke-dark {
  background-color: rgba(0, 0, 0, 0.6);
}
